/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}
html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ul,
ol,
img,
a {
  line-height: 0.8;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-text-color: #181818;
  --secondary-text-color: #474747;
  --third-text-color: #757575;
  --orange-color: #fd6e0a;
  --bg-primary: #fff8f3;
  --white-color: #fff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 35px;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
/* <!-- ========== Header Section Start Now ========== --> */
.header {
  background-image: url('../imges/developer.png'), url('../imges/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: var(--bg-primary);
}
/* ==== Nav section Start now === */

nav {
  margin: 51px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 45px;
}
nav h3 span {
  color: var(--orange-color);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul li {
  margin-right: 51px;
}
nav nav ul li a {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
nav .btn {
  padding: 18px 36px;
  border: none;
  background: var(--orange-color);
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
/* ==== Nav section end now === */
/* ==== banner section Start now === */
.banner {
  margin: 0 35px 0 230px;
}
.banner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_content {
  width: 585px;
}
.banner_image {
  width: 584px;
}
.banner_content h3 {
  font-size: 45px;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.banner_content h1 {
  font-weight: 700;
  font-size: 85px;
  color: var(--primary-text-color);
  margin-top: 5px;
}
.banner_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--third-text-color);
  margin-top: 20px;
}
.button {
  display: flex;
  margin-top: 30px;

  align-items: center;
  gap: 30px;
}
.button a:first-child {
  padding: 19px 17px;
  background-color: var(--orange-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.button a:first-child i {
  margin-right: 10px;
}
.button a:last-child {
  padding: 19px 23px;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  color: var(--orange-color);
}
.button a:last-child i {
  margin-right: 10px;
}
/* ==== banner section end now === */

/* ==== About section Start now === */
.about {
  background-color: var(--bg-primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 130px;
  margin-top: 130px;
}
.about_wrapper {
  padding: 130px 150px;
  text-align: center;
}
.about .about_description {
  max-width: 827px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about_items {
  display: flex;
  justify-content: space-between;
}
.about_item span {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  color: var(--third-text-color);
  margin-bottom: 10px;
}
.about_item .about_item_title {
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
  color: var(--primary-text-color);
}

/* ==== About section end now === */

/* ==== Skill section Start now === */
.skill_main {
  background-color: var(--white-color);
  margin-bottom: 130px;
}
.skills_box_wrap {
  display: flex;
  gap: 24px;
}
.skill_wrapper {
  text-align: center;
}
.skill_desc {
  max-width: 909px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
.skill_box {
  width: 267px;
  /* height: 377px; */
  padding: 30px;
  border-radius: 5px;
  background: var(--white-color);
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_box h4 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill_box p {
  font-size: 16px;
  font-weight: 400;
  color: var(--third-text-color);
  line-height: 28px;
}

/* ==== Skill section end now === */
/* ==== Nav section Start now === */
/* ==== Nav section end now === */
/* ==== Nav section Start now === */
/* ==== Nav section end now === */
/* ==== Nav section Start now === */
/* ==== Nav section end now === */
/* ==== Nav section Start now === */
/* ==== Nav section end now === */
/* ==== Nav section Start now === */
/* ==== Nav section end now === */
/* ==== Nav section Start now === */
/* ==== Nav section end now === */
